/*#div-search{
    background-color:#dca900;
    border: none;
    border-radius:12px;
    width:300px;
  }
  
  #txt-search{
    float: center;
    background-color:#ffffff88;
    font-style:italic;
    font-size:18px;
    border:none;
    height:32px;
    width:260px;
  }
  */